services:
  carrot:
    build:
      context: .
      args:
        environment: "dev"
    container_name: carrot-app
    restart: always
    env_file:
      - .env
    ports:
      - 8000:${CARROT_PORT:-9890}
    volumes:
      - .:/app
      - carrot_keys:/etc/keys
    command: python manage.py runserver 0.0.0.0:${CARROT_PORT:-9890}
    depends_on:
      - carrot-postgres

  carrot-postgres:
    image: postgres:${POSTGRES_IMAGE_VERSION}
    container_name: carrot-postgres
    restart: always
    volumes:
      - pg_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 2s
      timeout: 2s
      retries: 10

volumes:
  carrot_keys:
  pg_data:
